.header{
    background-color: #187E35;
    color: #F4B301;
    display: flex;
    
    
}

.header, h1{
    font-size:160%;
}
h1{
  position:relative;  left: 1em;
}
.log{
    display: flex;   
    position: absolute; top: -1em; right: 0;
    width: 126px;
}


/** Para abrir el menú */
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: flex-start;
    margin-right: 2em;
    float: left;
    
    
    
}
ul li {
    background-color:#187E35;
}
ul {
    list-style:none;
    margin:0;
    padding:0;
  }
  ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
  }
  ul li {
    position:relative;
    
    margin:0;
    padding:0;
  }
  ul li:hover {
    background:#F4B301;
  }

  
/** Para abrir el menú desplegable

ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
  }
  ul ul li {
    float:none;
    width:150px
  }
  ul li:hover > ul {
   
  }

  ul ul a {
    line-height:120%;
    padding:10px 15px;
  }

  
*/

/**


.iteme{
  margin: 10em;
}

.imgAll{
  border-radius: 0.4cm;
  position: absolute; right: 1.6em; top: 1em;


}

.p{
  position: relative; left: -12em; top: 1em; 
  display: flex;
  justify-content: flex-start;

  
}
.real{
  position: relative; left: 1.6 em; right: 22em; top: 3em;
  display: flexbox;
  justify-content: flex-start;
 
  position: relative;    left: 1em;
}

.upp{
  display: flex;
  position: absolute; top:10em;
  margin: 6em;
}
.nota{
  display: flex;
  justify-content: flex-start;
}

*/


/** Pie de página */
#footer {
  clear: both;
  border-top: 1px solid #187E35;
  font-size: small;
  color: white;
  background-color: #187E35;
  padding: 20px;
}
#footer img{
  position: relative; right: 0em;
  
}
h5{
  position:absolute; right: 3em;
}
/** Pie de página FIN*/

.platos img{
  display: flex;
  clear: both;
  justify-content: center;

  width: 350px;
    height: 600px;
    
}

.nota { /* Definimos la clase .nota */
  background-color: #F4B301;
}
p{
  text-align: justify;
}

.grid{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
  
}


