.headerPers{
    background-color: #187E35;
    color: #F4B301;
    display: flex;
    
    
}

.headerPers, h1{
    font-size:160%;
    
}
h1{
    position:relative;  left: 1em;
}
.log{
    display: flex;   
    position: absolute; top: 0.55em; right: 0;
    width: 126px;
}

.logo{
    display: flex;   
    justify-content: center;
    position: relative; top: -9em;
    
}



/** Para abrir el menú */
.menu{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    position: relative; top: -8em;
    margin: 0;

}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
li{
    display:inline-block;
}
ul a {
    
    color:#187E35;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family: monospace;
    font-weight: bold;
    text-transform:uppercase;
    letter-spacing:1px;
  }
  ul a:hover {
    color: #F4B301;
  }
/** Para abrir el menú fin*/


/** Para items*/

/**.itemG{
    
    
    
    margin: 1rem auto;
    width:100%;
    max-width:960px;
    column-count: 3;
    
}
.elemento{
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    background-color:  #EFECE1;
    margin-right: 15px;
    margin-bottom: 15px;
    
}
.itemG{
    width: 90%;
    margin: 15px auto;
}
*/

.elemento img{
    border-radius: 0.4cm;
    width: 100%;
}
.itemG{
    position: relative;    top: -5em;
    justify-content: center;
    column-count: 3;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    width:100%;
    max-width:960px;
    
    
}

.elemento{
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    background-color: #EFECE1;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: justify;

}


.elemento p{
    padding: 10px;
    font-size: 13px;
    text-align: justify;
    border-left: 100px;
    font-family: cursive;
    text-align: center;
}

/** Pie de página */
#footer {
  clear: both;
  text-align: center;
  border-top: 1px solid #187E35;
  font-size: small;
  color: white;
  background-color: #187E35;
  padding: 20px;
}



