/** Para la cabecera Home */
.header{
    display: grid;
    background-color: #187E35;
    color: #F4B301; 
}
.header, h1{
    font-size:160%;
}
h1{
  position:relative;  left: 1em;
}
.logo{
    display: grid;   
    position: absolute; top: -0.7em; right: 0;
    width: 126px;
}
/** Para la cabecera FIN*/
/** Para la cabecera Team */
.headerPers{
    display: grid;
    background-color: #187E35;
    color: #F4B301;
}
.headerPers, h1{
    font-size:160%;
}
.log{
    display: flex;   
    position: absolute; top: 0.55em; right: 0;
    width: 126px;
}

/** Para la cabecera Team */


.logoMid{
    display: flex;   
    justify-content: center;
    position: relative; top: -10em;
    
}


/** Para abrir el menú de INICIO*/
.menu{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    align-items: end;
    margin-right: 2em;
    float: left;
}
.menu ul li {
    background-color:#187E35;
}
.menu ul {
    list-style:none;
    margin:0;
    padding:0;
  }
  .menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
  }
  .menu ul li {
    position:relative;
    
    margin:0;
    padding:0;
  }
  ul li:hover {
    background:#F4B301;
  }
  /** Para abrir el menú FIN*/
  .menus{
    display: grid;
    justify-content: space-evenly;
    justify-content: center;
    position: relative; top: 5em;
    margin: 0;

}
.menus ul{
    list-style: none;
    margin:0;
    padding:0;
}
.menus li{
    display:inline-block;
}
.menus ul a {
    
    color:#187E35;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family: monospace;
    font-weight: bold;
    text-transform:uppercase;
    letter-spacing:1px;
  }
  .menus ul a:hover {
    color: #F4B301;
    background-color: white;
  }

  .nota { /* Definimos la clase .nota */
    background-color: #F4B301;
  }
  
/** Para platos */
.Platos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 110px, 110px));
    gap: 10px;
    padding: 1em;
    
}
/** Para platos FIN */

/**Imágenes Team*/
.results {
  position: relative; top: -4em;
 max-width: 980px;
 margin: 0 auto;
 display: grid;
 grid-gap: 20px;
 grid-template-columns: repeat(auto-fill, 250px);
 /* each row is 20px high -- we always span 2+ */
 grid-auto-rows: minmax(18px, auto);
 justify-content: center;	
 
 
}

.results > * {
 width: 250px;
 /* only for older non-grid browsers: */
 float: left;  
 /* only for older non-grid browsers: */
 margin: 15px;
 justify-content: center;	
}


.ht1 { grid-row-end: span 3; }
.ht2 { grid-row-end: span 2; }
.ht3 { grid-row-end: span 5; }


@supports (display: grid) {
 .results > * {
   /* modern browser -- grid-gap takes care of us: */
   margin: 0 auto;
   justify-content: center;	
 }
}

/* cosmetics only from here on down */
.results > * {
 background-color: #ddd;
}
.results > * img {
 max-width: 100%;
}
.results > * span {
 font-size: 140%;
 color: #cc3333;
 font-family:monospace;
}
/**Imágenes Team FIN*/



/** Para pie de página */
#footer {
    clear: both;
    border-top: 1px solid #187E35;
    font-size: small;
    color: white;
    background-color: #187E35;
    padding: 20px;

  }
  #footer img{
    position: relative; right: 0em;
  }
  #footer h5{
    position:absolute; right: 3em;
  }
  /** Para pie de página */
